.FooterClass {
  font-size: 1rem;
  color: #c6d0f5;
  background: #292c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
}

.FooterClass a {
  text-decoration: none;
  color: #c6d0f5;
}

.FooterClass a:hover {
  color: #99d1db;
}
