.WindowDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vh;
  height: 30vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  background: #414559;

  & h2 {
    font-weight: bold;
    color: #ca9ee6;
    font-size: 1.8rem;
  }

  & p {
    font-size: 1.3rem;
  }
}
